* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9fafb;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* ------------------ Structure Globale ------------------ */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main-content-offset { 
    padding-top: 5rem;
}

.content-container {
    background-color: #f9fafb; 
}

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #1f2937;
    margin-bottom: 2rem;
}

.text-body {
    color: #4b5563;
    margin-bottom: 1.5rem;
}

.logo{
    height: 2.5rem; 
    width: auto;
}


/* ------------------ Header ------------------ */

.header-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/img/cover.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    background-blend-mode: overlay; 
    background-color: rgba(250, 218, 78, 0.651);
    color: #1f2937;
}

.header-content {
    text-align: center;
    padding: 1.5rem;
    color: #1f2937;

}

.header-title {
    font-size: 5rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 1.5rem;
}

.header-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: #1f2937;

}

.header-description {
    font-size: 1.125rem;
    color: #1f2937;
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.header-button {
    background-color: #1f2937;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.header-button:hover {
    background-color: #374151;
}

@media (max-width: 1826px) {
    .header-title {
        font-size: 3rem;
    }
    .header-subtitle {
        font-size: 1rem;
    }
    .header-description {
        font-size: 1rem;
    }
}




/* ------------------ Navbar ------------------ */

.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    z-index: 50;
}



.navbar-container {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.navbar-logo-img {
    height: 60px;
    width: 60px;
}


.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.navbar-logo:hover {
    color: rgb(206, 179, 59); 
}


.navbar-menu-desktop {
    display: none; /* [MOBILE FIRST] Masqué par défaut */
    gap: 2rem;
}

.navbar-link {
    color: #4b5563;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 0.25rem;
    font-weight: bold;
}

.navbar-link:hover {
    color: rgb(206, 179, 59);
    border-bottom: 2px solid rgb(206, 179, 59);
}

.navbar-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #4b5563;
    font-size: 1.25rem;
    display: block; 
}

.navbar-menu-mobile {
    display: none;
    background-color: white; 

}

.navbar-menu-mobile.is-open {
    display: block;

}

.navbar-mobile-content {
    padding: 1rem 1rem 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar-mobile-link {
    display: block;
    color: #374151;
    text-decoration: none;
    padding: 0.5rem 0;
    border-left: 3px solid transparent;
    transition: all 0.3s;
}

.navbar-mobile-link:hover {
    color: rgb(206, 179, 59);
    border-left: 3px solid rgb(206, 179, 59);
    padding-left: 0.5rem;
}


@media (min-width: 768px) {
    .navbar-toggle-btn {
        display: none;
    }
    .navbar-menu-desktop {
        display: flex; 
    }
}
/* ------------------ About ------------------ */

.about-section {
    background-color: white;
    padding-top: 8rem;
    
}

.about-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    align-items: center;
}

.text-body{
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
}

.about-image {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: rgba(240, 227, 46, 0.4) 0px 5px, 
    rgba(240, 221, 46, 0.3) 0px 10px, rgba(240, 221, 46, 0.2) 0px 15px, 
    rgba(240, 221, 46, 0.1) 0px 20px, rgba(240, 227, 46, 0.05) 0px 25px;
}

.about-button {
    background-color: rgb(206, 179, 59);
    color: white;
    padding: 0.75rem 2rem;
    margin-top: 8rem;
    margin-left: 12rem;
    border-radius: 9999px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
}

.about-button:hover {
    background-color: rgba(235, 206, 78, 0.911);
}


@media (min-width: 768px) {
    .about-content {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    
}

@media (max-width: 1826px) {
    .about-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 10px;
        border-radius: 8px;
}


}

/* ------------------ Projects ------------------ */

.projects-section {
    background-color: none;
    padding-top: 8rem;

}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.3s;
}

.project-card:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    height: auto;
    margin: 0px;
}

.project-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.project-details {
    text-align: center;
    color: white;
    padding: 1.5rem;
}

.project-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.project-description {
    margin-bottom: 1rem;
}

.project-link {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.project-link:hover {
    background-color: white;
    color: #1f2937;
}

@media (min-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


/* ------------------ Contact Form ------------------ */

.contact-section {
    background-color: #f9fafb;
    padding-top: 8rem;

}

.contact-form-wrapper {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-label {
    display: block;
    color: #374151;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-radius: 0.5rem;
    border-color: #d1d5db;
    outline: none;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-color: #8b5cf6;
}

.form-input-error {
    border-color: #ef4444;
}

.form-error-message {
    color: #ef4444;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: center;
}

.form-success-message{
    color: green;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    text-align: center;
}

.form-submit-btn {
    width: 100%;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    background-color: #1f2937;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}

.form-submit-btn:hover {
    background-color: #374151;
}

.form-submit-btn.is-submitting {
    background-color: #6b7280;
    cursor: not-allowed;
}

/* ------------------ Skills Page ------------------ */

.skills-section {
    background-color: white;
    padding-top: 8rem;

}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.skill-card {
    background: #efe1ff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.skill-category-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #e5e7eb; /* border-gray-200 */
    padding-bottom: 0.5rem;
}

.skill-list {
    list-style: none;
    padding: 0;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    border-bottom: 1px dashed #e5e7eb;
}

.skill-item:last-child {
    border-bottom: none;
}

.skill-name {
    font-weight: 500;
    color: #4b5563;
}

.skill-level {
    font-size: 0.9rem;
    font-style: italic;
    color: #6b7280;
}

@media (min-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ------------------ Footer ------------------ */


.footer {
    background-color: #1f2937; 
    color: white;
    padding-top: 3rem; 
}

.footer-content-wrapper {
    padding-bottom: 2rem; 
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #374151; 
}

.footer-section h4 {
    font-size: 1.125rem; 
    font-weight: 600; 
    margin-bottom: 1.5rem;
    color: white;
}

.footer-section p {
    font-size: 0.9rem;
    color: #d1d5db;
    margin-bottom: 0.5rem;
}



.social-links-footer {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-icon-footer {
    color: white;
    font-size: 1.25rem;
    transition: color 0.3s;
}

.social-icon-footer:hover {
    color: #8b5cf6; 
}

.footer-bottom {
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.875rem; 
    color: #9ca3af;
}

@media (min-width: 640px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .footer-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

